
<!--{% if status=="true" %}-->


<div *ngIf="wait;then Wait else Start"></div>
<ng-template #Wait>
    <div class="confirm-background">
        <div class="confirm-text">
            <h1>Please wait! Processing your Order...</h1>
        </div>
    </div>
</ng-template>

<ng-template #Start>
    <div *ngIf="cart;then Cart else CartEmpty"></div>
    <ng-template #CartEmpty>
        <div class="confirm-background">
            <div class="confirm-text">
                <h1>Your cart is empty!</h1>
                <h2>Please try ordering from OUR MENU</h2>
                <img src="assets/sad.png" alt="Sad" height="200">
                <button routerLink="" routerLinkActive="active" class="button" >Return to Home Page</button>
            </div>
        </div>  
    </ng-template>

    <ng-template #Cart>
        <div *ngIf="status;then Success else Error"></div>
        <ng-template #Success>
            <div class="confirm-background">
                <div class="confirm-text">
                    <h1>You are all set!</h1>
                    <h2>We'll send a confirmation and delivery updates to {{email}}</h2>
                    <h2>Order Number #{{order_num}}</h2>
                    <h2>Payment Confirmation ID #{{payment_id}}</h2>
                    <img src="assets/tick2.jpg" alt="Tick" height="200">
                    <button routerLink="" routerLinkActive="active" class="button" >Return to Home Page</button>
                </div>
            </div>
        </ng-template>

        <ng-template #Error>
            <div class="confirm-background">
                <div class="confirm-text">
                    <h1>We are currently out of stock!</h1>
                    <h2>Please try ordering lower quantity</h2>
                    <img src="assets/sad.png" alt="Sad" height="200">
                    <button routerLink="" routerLinkActive="active" class="button" >Return to Home Page</button>
                </div>
            </div>  
        </ng-template>
    </ng-template>


</ng-template>
