
    <div class="shipping-background">
        <div class="shipping-text">
            <h2>Please enter your shipping details</h2>
            <form>
                <label>Country: </label>
                <input type="text" id="country" placeholder="Country">
                <label>First name: </label>
                <input type="text" id="first-name" placeholder="First name">
                <label>Last name: </label>
                <input type="text" id="last-name" placeholder="Last name">
                <label>Address Line 1: </label>
                <input type="text" id="card-num" placeholder="Street Address, PO Box, Company Name">
                <label>Address Line 2: </label>
                <input type="text" id="card-num" placeholder="Apartment unit, suite, building, floor, etc.">
                <label>City: </label>
                <input type="text" id="card-cvv" placeholder="City">
                <label>State/Province/Region: </label>
                <input type="text" id="card-cvv" placeholder="State/Province/Region">
                <label>Zip/Postal Code: </label>
                <input type="text" id="card-cvv" placeholder="Zip/Postal Code">
                <label>Phone: </label>
                <input type="text" id="card-cvv" placeholder="Phone">
            </form>
            <button routerLink="/payment" routerLinkActive="active" class="button">Continue</button>
        </div>
    </div>

    <router-outlet></router-outlet>