
    <div class="shipping-background">
        <div class="shipping-text">
            <h2>Please enter your shipping details</h2>
            <form>
                <label>Country: </label>
                <input type="text" id="country" placeholder="Country">
                <label>First name: </label>
                <input type="text" id="first-name" placeholder="First name">
                <label>Last name: </label>
                <input type="text" id="last-name" placeholder="Last name">
                <label>Address Line 1: </label>
                <input type="text" id="card-num" placeholder="Street Address, PO Box, Company Name">
                <label>Address Line 2: </label>
                <input type="text" id="card-num" placeholder="Apartment unit, suite, building, floor, etc.">
                <label>City: </label>
                <input type="text" id="card-cvv" placeholder="City">
                <label>State/Province/Region: </label>
                <input type="text" id="card-cvv" placeholder="State/Province/Region">
                <label>Zip/Postal Code: </label>
                <input type="text" id="card-cvv" placeholder="Zip/Postal Code">
                <label>Phone: </label>
                <input type="text" id="card-cvv" placeholder="Phone">
            </form>
            <button class="button">Continue</button>
        </div>
    </div>

    <div class="container">
        <h1>Shipping</h1>
        <p>Please enter your shipping details.</p>
        <hr />
        <div class="form">
          
        <div class="fields fields--2">
          <label class="field">
            <span class="field__label" for="firstname">First name</span>
            <input class="field__input" type="text" id="firstname" value="John" />
          </label>
          <label class="field">
            <span class="field__label" for="lastname">Last name</span>
            <input class="field__input" type="text" id="lastname" value="Doe" />
          </label>
        </div>
        <label class="field">
          <span class="field__label" for="address">Address</span>
          <input class="field__input" type="text" id="address" />
        </label>
        <label class="field">
          <span class="field__label" for="country">Country</span>
          <select class="field__input" id="country">
            <option value=""></option>
            <option value="unitedstates">United States</option>
          </select>
        </label>
        <div class="fields fields--3">
          <label class="field">
            <span class="field__label" for="zipcode">Zip code</span>
            <input class="field__input" type="text" id="zipcode" />
          </label>
          <label class="field">
            <span class="field__label" for="city">City</span>
            <input class="field__input" type="text" id="city" />
          </label>
          <label class="field">
            <span class="field__label" for="state">State</span>
            <select class="field__input" id="state">
              <option value=""></option>
            </select>
          </label>
        </div>
        </div>
        <hr>
        <button class="button">Continue</button>
      </div>