<h1 class="title">Contact Us</h1>
<div class="under-text text-muted">
    <p>Whether you have questions, concerns, or just general feedback, we'd love to hear it!</p>
</div>
  <hr class="width-80">
<div class="payment-background">
  <div class="payment-text">
      <form>
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="first-name" class="form-label">First name: </label>
                  <input type="text" id="first-name" placeholder="First name" class="form-control">
              </div>
              <div class="form-group col-md-4">
                  <label for="last-name" class="form-label">Last name: </label>
                  <input type="text" id="last-name" placeholder="Last name" class="form-control">
              </div>
              <div class="form-group col-md-4">
                <label for="email" class="form-label">Email: </label>
                <input type="text" id="email" placeholder="Email" class="form-control">
            </div>
          </div>
          
          <div class="form-row">
            <div class="col-md-2">
                <label for="feedback" class="form-label">What issue do you have?</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    Issues With a Product
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    Shipping Issues
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    Payment Problems
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    General Feedback
                    </label>
                </div>
            </div>
            <div class="col-md-10 form-group">
                <textarea type="text" class="form-control" id="feedback-box" placeholder="Feedback..."></textarea>
            </div>
          </div>
      </form>
  </div>
  <button class="button">Confirm</button>
</div>
