<style>
.summary-background{
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    opacity: 90%;
}
.summary-text{
    font-family: arial;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    opacity:95%;
}
table {
  font-family: arial;
  border-collapse: collapse;
  width: 80%;
}

th {
  text-align: left;
  padding: 8px;
}
td {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>

<div class="summary-background">
    <div class="summary-text">
        <h2>Order Summary</h2>
        <table mat-table [dataSource]="cart">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let item"><img src="{{item.image}}" height="80px"></td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item"> {{item.name}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let item"> ${{item.price}} </td>
              </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="grey" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                    </svg>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="grey" d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8.46,11.88L9.87,10.47L12,12.59L14.12,10.47L15.53,11.88L13.41,14L15.53,16.12L14.12,17.53L12,15.41L9.88,17.53L8.47,16.12L10.59,14L8.46,11.88M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
                    </svg>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <h4 style="text-align: end; margin-right: 27%">Total: $27</h4>
    </div>
    <div class="summary-text">
        <h4>Bill to:</h4>
        <p style="font-style:italic">Brutus Buckeye</p>
        <p style="font-style:italic">XXXX-XXXX-XXXX-1234</p>
        <button style="margin-top:10px">Back</button>
        <button style="margin-top:10px; float:right">Checkout</button>
    </div>
    
</div>