button {
background-color: #000;
text-transform: uppercase;
font-size: 12px;
font-weight: 500;
color: #fff;
width: 20%;
padding: 16px;
border-radius: 0.25rem;
border: 0;
margin-top: 20px
}

.summary-background{
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  opacity: 90%;
}
.summary-text{
  font-family: arial;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  opacity:95%;
}
table {
font-family: arial;
border-collapse: collapse;
border-bottom: 1px solid #dddddd;
width: 100%;
}

th {
text-align: left;
font-size: 12px;
text-transform: uppercase;
}
td {
border-top: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
tr.mat-row, tr.mat-footer-row {
  height: 100px;
}

tr.mat-header-row {
  height: 20px;
}

.total{
  margin-top: 40px;
  font-weight: 500;
}