.profile-box {
  margin: 25px;
}

.img-size {
  width: 100%;
  height: auto;
}

.profile-box {
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;

  text-align: justify;

  display: flex;
  position: relative;
  border: solid 3px #6e7491;
  padding: 2em;
  max-width: 8000px;
  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
}

.profile-box:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.profile-box:hover .border {
  transform: translateY(4px) rotate(-5deg);
}

.title {
  font-size: xx-large;
  font-family: cursive;
  text-align: center;
}

.name-prof {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.position {
  text-align: right;
}