.white-background {
  background-color: white;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  opacity: 90%;
  border-radius: 5%;
}

.title {
  padding: 20px 0px 0px 0px;
  font-size: xx-large;
  font-family: cursive;
  text-align: center;
}

.width-80 {
  width: 80%;
}