.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  font-weight: 600;
  opacity: 90%;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #cart-icon {
  height: 40px;
  margin: 0 8px;
  color: black;
}

.toolbar #cart-icon:hover {
  opacity: 0.8;
}

.title-logo {
  margin: 0px;
  padding: 10px;
}

#cart-icon {
  padding: 10px;
  color: black;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cart-size {
  font-size: x-large;
}