<div class="greeting">
    <!-- <img src="./assets/kitchen.png"> -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="position:relative">
    <div class="col-md-5 p-lg-5 mx-auto my-5" style="background-color: white;" style="position:relative">
      <h1 class="display-4 fw-normal">KitchenTwo</h1>
      <p class="lead fw-normal">All your favorite homemade meals. None of the homemade mess.</p>
      <a class="btn btn-outline-secondary" href="/">View our selection</a>
    </div>
  </div>
  <img src="./assets/kitchen.png" style="position:relative">
</div>

  <div class="d-md-flex flex-md-equal">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width:49%;margin-right:2%">
      <div class="my-3 py-3">
        <h2>Our Mission</h2>
        <p>Provide high quality homecooked meals to our customers in less time and hassle than it would take to prepare at home.</p>
      </div>
    </div>
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width:49%;">
      <div class="my-3 p-3">
        <h2>Our Vision</h2>
        <p>We strive to create a world where no one needs to miss the taste of home.</p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2>Our Message</h2>
      <p>We hope everyone is able to enjoy our high-quality homecooked meals. Please reach out if your favorite homecooked meal is not on our menu and we will do our best to add it! Enjoy!</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="img" src="./assets/homekitchen.jpg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2>Our Strategy</h2>
      <p>Partner with local, family owned restaurants to provide the high quality meals. These resaurants are able to join our application with their unique, passed down recipes and deliver to our hungry customers.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="img" src="./assets/delivery.jpg">
    </div>
  </div>