<style>
.summary-background{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.summary-info{
    display:flex;
}
.summary-text{
    font-family: arial;
    flex:1;
    width:20%;
    margin-top: 50px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 10px;
    background-color:white;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}
.summary-container{
    flex:3;
    width: 80%;
}
table {
  font-family: arial;
  border-collapse: collapse;
  border-bottom: 1px solid #dddddd;
  width: 100%;
}

th {
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
}
td {
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr.mat-row, tr.mat-footer-row {
    height: 100px;
}

tr.mat-header-row {
    height: 20px;
}

.total{
    margin-top: 40px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}
</style>
    
<div class="summary-background">
    <div class="summary-info">
    <div class="summary-container">
        <h2>Order Summary</h2>
        <table mat-table [dataSource]="items">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let item"><img src="{{item.image}}" height="80px"></td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item"> {{item.name}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let item"> ${{item.price}} </td>
                </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let item"> {{item.cart_quantity}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <h4 style="text-align: end; margin-right: 13%">Total: ${{subtotal}}</h4>
    </div>
    <div class="summary-text">
        <h3>Shipping:</h3>
        <p style="font-style:italic">Brutus Buckeye</p>
        <p style="font-style:italic">XXXX-XXXX-XXXX-1234</p>
        <h3>Billing:</h3>
        <p style="font-style:italic">Brutus Buckeye</p>
        <p style="font-style:italic">XXXX-XXXX-XXXX-1234</p>
    </div>
</div>
    <button routerLink="/payment" routerLinkActive="active" style="margin-top:30px">Back</button>
    <button routerLink="/confirmation" routerLinkActive="active" style="margin-top:30px; float:right">Place Order</button>
</div>