<style>
.payment-background{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 90%;
}
.payment-text{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
</style>

<div class="payment-background">
    <div class="payment-text">
        <h2>Payment Information</h2>
        <p>Total Amount: </p>
        <form>
            <label>First name: </label>
            <input type="text" id="first-name" placeholder="First name">
            <label>Last name: </label>
            <input type="text" id="last-name" placeholder="Last name">
            <br>
            <label>Card number: </label>
            <input type="text" id="card-num" placeholder="XXXX-XXXX-XXXX-XXXX">
            <br>
            <label>CVV: </label>
            <input type="text" id="card-cvv" placeholder="CVV">
            <label>Expiration date: </label>
            <input type="text" id="card-expiration" placeholder="MM/YY">
        </form>
    </div>
</div>